@use "mixins" as *;
.flex-col {
  display: flex !important;
  flex-direction: column !important;
}
.flex-row {
  display: flex !important;
  flex-direction: row !important;
}
.display-none {
  display: none;
}
.u-margin-top-small {
  margin-top: 60px;
  @include responsive(tab-land) {
    margin-top: 5%;
  }
}
